body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    gap: 64px;
}

.scores, .picks, .info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 60px;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    font-size: 60px;
    border-radius: 16px;
}

button:hover {
    background-color: aquamarine;
    color: black;
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(21, 27, 26, 0.6);
}
